################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GbcTrvaelGroup63_Ass02/FileContentIndex
/.vs
